.login-button {

}

.btn-Vk {
  background-color: #6383a8;
  color: #fff;
}
.btn-Foursquare {
  background-color: #0732a2;
  color: #fff;
}

.navbar-form {
	padding-top: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}